<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Library</title>
</head>
<body>

<div class="form-container">
    {% if success_message %}
    <p>{{ success_message }}</p>
    {% endif %}

    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}

    <form action="/add_author" method="POST">
        <label for="name">Author Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="birthdate">Birthdate:</label>
        <input type="date" id="birthdate" name="birthdate" required>

        <label for="date_of_death">Date of Death:</label>
        <input type="date" id="date_of_death" name="date_of_death">

        <input type="submit" value="Add Author">
    </form>
</div>

</body>
</html>
